dreq-cmip6/python/01.00.30beta1/dreqPy/docs/vocabSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:pav="http://purl.org/pav/2.3" xmlns:aa="urn:w3id.org:cmip6.dreq.dreq:a" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="urn:w3id.org:cmip6.dreq.framework:a" xmlns:xd="http://www.pnp-software.com/XSLTdoc" targetNamespace="urn:w3id.org:cmip6.dreq.dreq:a" elementFormDefault="qualified">
<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc1.xsd"/>
<xs:import namespace="http://purl.org/pav/2.3" schemaLocation="pav.xsd"/>
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">
       Some specialised string types
    </xs:documentation></xs:annotation>
<xs:simpleType name="st__uid"><xs:restriction base="xs:string"><xs:pattern value="([a-zA-Z0-9:_.+-])+"/></xs:restriction></xs:simpleType>
<xs:simpleType name="st__attLabel_def"><xs:restriction base="xs:string"><xs:pattern value="([a-zA-Z0-9-])+"/></xs:restriction></xs:simpleType>
<xs:simpleType name="st__attLabel_und"><xs:restriction base="xs:string"><xs:pattern value="([a-zA-Z0-9_])+"/></xs:restriction></xs:simpleType>
<xs:simpleType name="st__attLabel_int"><xs:restriction base="xs:integer"/></xs:simpleType>
<xs:simpleType name="st__attLabel_an"><xs:restriction base="xs:string"><xs:pattern value="([a-zA-Z0-9])+"/></xs:restriction></xs:simpleType>
<xs:simpleType name="st__stringList"><xs:restriction base="aa:base__stringList"><xs:minLength value="0"/></xs:restriction></xs:simpleType><xs:simpleType name="base__stringList"><xs:list itemType="xs:string"/></xs:simpleType>
<xs:simpleType name="st__integerList"><xs:restriction base="aa:base__integerList"><xs:minLength value="0"/></xs:restriction></xs:simpleType><xs:simpleType name="base__integerList"><xs:list itemType="xs:integer"/></xs:simpleType>
<xs:simpleType name="st__integerListMonInc"><xs:restriction base="aa:st__integerList"/></xs:simpleType>
<xs:simpleType name="st__floatList"><xs:restriction base="aa:base__floatList"><xs:minLength value="0"/></xs:restriction></xs:simpleType><xs:simpleType name="base__floatList"><xs:list itemType="xs:float"/></xs:simpleType>
<xs:complexType name="ct__info" mixed="true"><xs:attribute name="srcType" type="xs:string"/><xs:attribute name="srcRef" type="xs:string"/></xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">institute: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__institute">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__institute_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="institute"/>
<xs:attribute name="title" type="xs:string" fixed="Institute"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.001"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleurl;
   xs:stringHome pageisni;
   xs:stringInternational Standard Name Identifier (ISO 27729)description;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__institute_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="url" type="xs:string"/>
<xs:attribute name="isni" type="xs:string"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">model: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__model">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__model_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="model"/>
<xs:attribute name="title" type="xs:string" fixed="Model"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.002"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titledescription;
   xs:stringurl;
   xs:stringaltUrl;
   xs:stringsource;
   xs:stringList of major model componentsuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__model_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="url" type="xs:string"/>
<xs:attribute name="altUrl" type="xs:string"/>
<xs:attribute name="source" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">physicsvers: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__physicsvers">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__physicsvers_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="physicsvers"/>
<xs:attribute name="title" type="xs:string" fixed="Physics Version"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.003"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titledescription;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__physicsvers_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">initialisationmethod: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__initialisationmethod">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__initialisationmethod_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="initialisationmethod"/>
<xs:attribute name="title" type="xs:string" fixed="Initialisation Method"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.004"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titledescription;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__initialisationmethod_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">modelComp: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelComp">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__modelComp_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="modelComp"/>
<xs:attribute name="title" type="xs:string" fixed="Model Components"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.005"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord TitlecomponentType;
   xs:stringsizeH;
   xs:stringsizeV;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__modelComp_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="componentType" type="xs:string"/>
<xs:attribute name="sizeH" type="xs:string"/>
<xs:attribute name="sizeV" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">activity: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__activity">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__activity_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="activity"/>
<xs:attribute name="title" type="xs:string" fixed="Coordinating activity"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.006"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleurl;
   xs:stringstatus;
   xs:stringStatus and role within the CMIP6 processuid;
   aa:st__uidproject;
   xs:stringProject which is sponsoring the CMIP6 contribution, if applicable</xs:documentation></xs:annotation>
<xs:complexType name="ct__activity_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="url" type="xs:string"/>
<xs:attribute name="status" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>
<xs:attribute name="project" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">product: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__product">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__product_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="product"/>
<xs:attribute name="title" type="xs:string" fixed="Data product"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.007"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__product_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">experiment: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__experiment">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__experiment_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="experiment"/>
<xs:attribute name="title" type="xs:string" fixed="Numerical Experiment"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.008"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord TitlealtLabel;
   xs:stringdescription;
   xs:stringurl;
   xs:stringsponsor;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__experiment_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="altLabel" type="xs:string"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="url" type="xs:string"/>
<xs:attribute name="sponsor" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">frequency: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__frequency">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__frequency_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="frequency"/>
<xs:attribute name="title" type="xs:string" fixed="Temporal frequency of data values"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.009"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleiso;
   xs:stringuid;
   aa:st__uidisClimatology;
   xs:booleanTrue if term is a climatology label</xs:documentation></xs:annotation>
<xs:complexType name="ct__frequency_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="iso" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>
<xs:attribute name="isClimatology" type="xs:boolean"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">realm: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__realm">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__realm_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="realm"/>
<xs:attribute name="title" type="xs:string" fixed="Modeling realm"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.010"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__realm_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">grid: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__grid">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__grid_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="grid"/>
<xs:attribute name="title" type="xs:string" fixed="Native grid"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.011"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__grid_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">dimensions: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__dimensions">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__dimensions_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="dimensions"/>
<xs:attribute name="title" type="xs:string" fixed="MIP table variable dimensions"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.012"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord TitlealtLabel;
   xs:stringsn;
   xs:stringsize;
   xs:integeruid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__dimensions_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_an"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="altLabel" type="xs:string"/>
<xs:attribute name="sn" type="xs:string"/>
<xs:attribute name="size" type="xs:integer"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">forcings: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__forcings">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__forcings_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="forcings"/>
<xs:attribute name="title" type="xs:string" fixed="Forcing"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.013"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__forcings_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">table: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__table">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__table_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="table"/>
<xs:attribute name="title" type="xs:string" fixed="Data specification table"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.014"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titledescription;
   xs:stringcomment;
   xs:stringfrequency;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__table_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="comment" type="xs:string"/>
<xs:attribute name="frequency" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">cref: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__cref">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__cref_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="cref"/>
<xs:attribute name="title" type="xs:string" fixed="Coordinate Reference"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.015"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titlelabel;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__cref_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">areaType: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__areaType">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__areaType_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="areaType"/>
<xs:attribute name="title" type="xs:string" fixed="CMIP Area Type"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.016"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord TitleinCF;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__areaType_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="inCF" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">timeSlice: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__timeSlice">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__timeSlice_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="timeSlice"/>
<xs:attribute name="title" type="xs:string" fixed="Time slices used in data request"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.017"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleuid;
   aa:st__uidtype;
   xs:stringstart;
   xs:stringend;
   xs:stringstep;
   xs:stringsliceLen;
   xs:stringnyears;
   xs:stringdescription;
   xs:stringchild;
   xs:stringitems;
   xs:string</xs:documentation></xs:annotation>
<xs:complexType name="ct__timeSlice_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>
<xs:attribute name="type" type="xs:string"/>
<xs:attribute name="start" type="xs:string"/>
<xs:attribute name="end" type="xs:string"/>
<xs:attribute name="step" type="xs:string"/>
<xs:attribute name="sliceLen" type="xs:string"/>
<xs:attribute name="nyears" type="xs:string"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="child" type="xs:string"/>
<xs:attribute name="items" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">modelFamily: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelFamily">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__modelFamily_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="modelFamily"/>
<xs:attribute name="title" type="xs:string" fixed="Family of model"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.018"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__modelFamily_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">priority: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__priority">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__priority_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="priority"/>
<xs:attribute name="title" type="xs:string" fixed="Variable priority"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.019"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titledescription;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__priority_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_int"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">qcLevel: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__qcLevel">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__qcLevel_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="qcLevel"/>
<xs:attribute name="title" type="xs:string" fixed="Quality control level"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.020"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__qcLevel_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_int"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">complianceCode: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__complianceCode">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__complianceCode_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="complianceCode"/>
<xs:attribute name="title" type="xs:string" fixed="Data specification compliance codes"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.021"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__complianceCode_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">glossary: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__glossary">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__glossary_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="glossary"/>
<xs:attribute name="title" type="xs:string" fixed="Glossary"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.022"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord TitlefullName;
   xs:stringdescription;
   xs:stringurl;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__glossary_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="fullName" type="xs:string"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="url" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">modelCompType: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelCompType">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__modelCompType_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="modelCompType"/>
<xs:attribute name="title" type="xs:string" fixed="Model Component Types/Categories [redundant with *Native Grid*]"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.023"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__modelCompType_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">modelType: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelType">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__modelType_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="modelType"/>
<xs:attribute name="title" type="xs:string" fixed="Class of model"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.024"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titleuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__modelType_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">index: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__index">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__index_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="index"/>
<xs:attribute name="title" type="xs:string" fixed="Index of vocabularies"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.025"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titletable;
   xs:stringtitle;
   xs:stringdescription;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__index_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="table" type="xs:string"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">cmorDimAttr: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__cmorDimAttr">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__cmorDimAttr_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="cmorDimAttr"/>
<xs:attribute name="title" type="xs:string" fixed="CMOR Dimension Attributes"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.026"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titledescription;
   xs:stringuid;
   aa:st__uidCMORattr;
   xs:stringCorresponding label in the CMOR MIP tables, if different</xs:documentation></xs:annotation>
<xs:complexType name="ct__cmorDimAttr_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_und"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>
<xs:attribute name="CMORattr" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">processingOptions: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__processingOptions">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__processingOptions_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="processingOptions"/>
<xs:attribute name="title" type="xs:string" fixed="Processing steps required"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.027"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titledescription;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__processingOptions_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_an"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">coordinateReference: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__coordinateReference">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__coordinateReference_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="coordinateReference"/>
<xs:attribute name="title" type="xs:string" fixed="Processing steps required"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.028"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titletitle;
   xs:stringogc_wkt;
   xs:stringurl;
   xs:stringuid;
   aa:st__uid</xs:documentation></xs:annotation>
<xs:complexType name="ct__coordinateReference_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_an"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="ogc_wkt" type="xs:string"/>
<xs:attribute name="url" type="xs:string"/>
<xs:attribute name="uid" type="aa:st__uid"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">modelConfig: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelConfig">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="aa:ct__modelConfig_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="modelConfig"/>
<xs:attribute name="title" type="xs:string" fixed="Model configuration options"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.029"/>
<xs:attribute name="useClass" fixed="vocab"/>
<xs:attribute name="uid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   xs:stringRecord Labeltitle;
   xs:stringRecord Titletitle;
   xs:stringMIPs;
   xs:stringusage;
   xs:stringtype;
   xs:stringrange;
   xs:stringRange of valid values, e.g. xs:boolean</xs:documentation></xs:annotation>
<xs:complexType name="ct__modelConfig_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="aa:st__attLabel_an"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="MIPs" type="xs:string"/>
<xs:attribute name="usage" type="xs:string"/>
<xs:attribute name="type" type="xs:string"/>
<xs:attribute name="range" type="xs:string"/>

</xs:complexType><xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">
       This schema is automatically generated by xsltproc.
    </xs:documentation></xs:annotation>
<xs:element name="document"><xs:complexType><xs:all><xs:element name="prologue"><xs:complexType><xs:sequence><xs:group ref="dc:elementsGroup" maxOccurs="20"/><xs:group ref="pav:elementsGroup" maxOccurs="20"/></xs:sequence></xs:complexType></xs:element><xs:element name="main"><xs:complexType><xs:all>
<!--[applying elem main] institute-->
<xs:element name="institute" type="aa:ct__institute"/>
<!--[applying elem main] model-->
<xs:element name="model" type="aa:ct__model"/>
<!--[applying elem main] physicsvers-->
<xs:element name="physicsvers" type="aa:ct__physicsvers"/>
<!--[applying elem main] initialisationmethod-->
<xs:element name="initialisationmethod" type="aa:ct__initialisationmethod"/>
<!--[applying elem main] modelComp-->
<xs:element name="modelComp" type="aa:ct__modelComp"/>
<!--[applying elem main] activity-->
<xs:element name="activity" type="aa:ct__activity"/>
<!--[applying elem main] product-->
<xs:element name="product" type="aa:ct__product"/>
<!--[applying elem main] experiment-->
<xs:element name="experiment" type="aa:ct__experiment"/>
<!--[applying elem main] frequency-->
<xs:element name="frequency" type="aa:ct__frequency"/>
<!--[applying elem main] realm-->
<xs:element name="realm" type="aa:ct__realm"/>
<!--[applying elem main] grid-->
<xs:element name="grid" type="aa:ct__grid"/>
<!--[applying elem main] dimensions-->
<xs:element name="dimensions" type="aa:ct__dimensions"/>
<!--[applying elem main] forcings-->
<xs:element name="forcings" type="aa:ct__forcings"/>
<!--[applying elem main] table-->
<xs:element name="table" type="aa:ct__table"/>
<!--[applying elem main] cref-->
<xs:element name="cref" type="aa:ct__cref"/>
<!--[applying elem main] areaType-->
<xs:element name="areaType" type="aa:ct__areaType"/>
<!--[applying elem main] timeSlice-->
<xs:element name="timeSlice" type="aa:ct__timeSlice"/>
<!--[applying elem main] modelFamily-->
<xs:element name="modelFamily" type="aa:ct__modelFamily"/>
<!--[applying elem main] priority-->
<xs:element name="priority" type="aa:ct__priority"/>
<!--[applying elem main] qcLevel-->
<xs:element name="qcLevel" type="aa:ct__qcLevel"/>
<!--[applying elem main] complianceCode-->
<xs:element name="complianceCode" type="aa:ct__complianceCode"/>
<!--[applying elem main] glossary-->
<xs:element name="glossary" type="aa:ct__glossary"/>
<!--[applying elem main] modelCompType-->
<xs:element name="modelCompType" type="aa:ct__modelCompType"/>
<!--[applying elem main] modelType-->
<xs:element name="modelType" type="aa:ct__modelType"/>
<!--[applying elem main] index-->
<xs:element name="index" type="aa:ct__index"/>
<!--[applying elem main] cmorDimAttr-->
<xs:element name="cmorDimAttr" type="aa:ct__cmorDimAttr"/>
<!--[applying elem main] processingOptions-->
<xs:element name="processingOptions" type="aa:ct__processingOptions"/>
<!--[applying elem main] coordinateReference-->
<xs:element name="coordinateReference" type="aa:ct__coordinateReference"/>
<!--[applying elem main] modelConfig-->
<xs:element name="modelConfig" type="aa:ct__modelConfig"/>
</xs:all></xs:complexType>
</xs:element>
<xs:element name="annex"><xs:complexType><xs:all>
</xs:all></xs:complexType>
</xs:element>
</xs:all></xs:complexType><xs:unique name="uniqueIdentifierConstraint"><xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">
       The uniqueIdentifierConstraint imposes the condition that the uid attribute on "item" elements should have a unique value.
        </xs:documentation></xs:annotation>
<xs:selector xpath=".//aa:item"/><xs:field xpath="@uid"/></xs:unique>
</xs:element></xs:schema>
